<mat-sidenav-container class="example-container" [class.myapp-dark-theme]="darkFlg">
  <mat-sidenav mode="over" #sidenav>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="site">
    <header>
      <app-head (toggle)="sidenav.toggle()" (toggleDark)="changeDark($event)">
      </app-head>
    </header>

    <main [@routerAnimate] = "state">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-foot>

      </app-foot>
    </footer>
  </div>
</mat-sidenav-container>
